<div class="center hero-unit">
	<div class="mc_parent">
		<div class="opaque-bkg"></div>
		<div class="opaque-foreground">
			
			<div class="mb-wrap mb-style-3">
				<blockquote cite="http://www.gutenberg.org/ebooks/1260">
					<p>It is far better to adapt the technology to the user than to force the user to adapt to the technology.</p>
				</blockquote>
				<div class="mb-attribution">
					<p class="mb-author">Larry Marine</p>
					<cite><a href="http://www.gutenberg.org/ebooks/1260">UX Strategy</a></cite>
					<div class="mb-thumb"></div>
				</div>
			</div>
			<h1 class="left-justified"> Fancy Me HCI</h1>
			<p class="left-justified">Welcome to the hub of the best <span class="hci">Human-Computer Interaction</span> (HCI) resources! We showcase the best schools in the US that are doing amazing, life-changing research and projects! This is the place for those who want to pursue a path in HCI, but don't know what academic programs exist or their specialties!  </p>
		</div> <!-- end of opaque-foreground -->
	</div> <!-- end of mc_parent -->
</div> <!-- end of center/hero-unit -->




<div id="grid" class="main">
	<h1>UC Berkeley</h1>
	<div class="view">
		<div class="view-back">
			<!-- <span>
			             UC Berkeley
			         </span> -->
			<span>
				<ul class="list-of-orgs">
					<li><a href="http://citris-uc.org/" target="_blank"> CITRIS</a></li>
					<li><a href="http://vis.berkeley.edu" target="_blank"> Visualization Lab</a></li>
					<li><a href="http://bid.berkeley.edu" target="_blank"> Berkeley Inst. of Design</a></li>
					<li><a href="http://www.ischool.berkeley.edu" target="_blank"> School of Information</a></li>
				</ul>
			</span>
			<a id="go-to-school" href="http://berkeley.edu">&rarr;</a>
		</div>
		<%= image_tag("9.jpg", alt: "UC Berkeley") %>
	</div>
	
	<h1>UC Irvine</h1>
	<div class="view">
		<div class="view-back">
			<!-- <span>UC Irvine</span> -->
			<span>
				<ul class="list-of-orgs">
					<li><a href="http://luci.ics.uci.edu/#overview" target="_blank"> LUCI</a></li>
					<li><a href="http://hana.ics.uci.edu/" target="_blank"> Hana Ohana</a></li>
					<li><a href="http://www.star-uci.org/" target="_blank"> Star Group</a></li>
					<li><a href="http://www.informatics.uci.edu/" target="_blank"> Informatics Dept.</a></li>
				</ul>
			</span>
			<a id="go-to-school" href="http://hcc.ics.uci.edu/HCC_and_IS_at_UCIrvine/Welcome.html">&rarr;</a>
		</div>
		<%= image_tag("uci.jpg", alt: "UC Irvine") %>
	</div>
	
	<h1>Stanford University</h1>
	<div class="view">
		<div class="view-back">
			<!-- <span>Stanford</span> -->
			<span>
				<ul class="list-of-orgs">
					<li><a href="http://hci.stanford.edu/" target="_blank"> HCI Group</a></li>
					<li><a href="http://dschool.stanford.edu/" target="_blank"> d.School</a></li>
					<li><a href="http://vis.stanford.edu/" target="_blank"> Visualization Lab</a></li>
				</ul>
			</span>
			<a id="go-to-school" href="http://stanford.edu">&rarr;</a>
		</div>
		<%= image_tag("stanford.jpg", alt: "Stanford") %>
	</div>
	
	<h1>MIT</h1>
	<div class="view">
		<div class="view-back">
			<!-- <span>MIT</span> -->
			<span>
					<ul class="list-of-orgs">
						<li><a href="http://media.mit.edu/research/groups/affective-computing" target="_blank"> Affective Computing</a></li>
						<li><a href="http://media.mit.edu/research/groups/fluid-interfaces" target="_blank"> Fluid Interfaces</a></li>
						<li><a href="http://media.mit.edu/research/groups/opera-future" target="_blank"> Opera of the Future</a></li>
						<li><a href="http://media.mit.edu/research/groups/social-computing" target="_blank"> Social Computing</a></li>
						<li><a href="http://media.mit.edu/research/groups/tangible-media" target="_blank"> Tangible Media</a></li>
						<li></li>
						<li><a href="http://media.mit.edu/research/groups-projects" target="_blank"> more</a></li>
					</ul>
				</span>
				<a id="go-to-school" href="http://media.mit.edu">&rarr;</a>
		</div>
		<%= image_tag("mit.jpg", alt: "MIT") %>
	</div>
	
	<h1>University of Michigan</h1>
	<div class="view">
		<div class="view-back">
			<!-- <span>University of</br>Michigan</span> -->
			<span>
				<ul class="list-of-orgs">
					<li><a href="https://www.si.umich.edu/" target="_blank"> School of Information</a></li>
				</ul>
			</span>
			<a id="go-to-school" href="http://www.si.umich.edu/">&rarr;</a>
		</div>
		<%= image_tag("UMich.jpg", alt: "U Michigan") %>
	</div>
	
	<h1>Carnegie Mellon University</h1>
	<div class="view">
		<div class="view-back">
			<!-- <span>Carnegie Mellon</br>University</span> -->
			<span>
				<ul class="list-of-orgs">
					<li><a href="http://www.hcii.cmu.edu/" target="_blank"> HCII</a></li>
				</ul>
			</span>
			<a id="go-to-school" href="http://www.hcii.cmu.edu/">&rarr;</a>
		</div>
		<%= image_tag("CMU.jpg", alt: "CMU") %>
	</div>
	
	<h1>University of Washington</h1>
	<div class="view">
		<div class="view-back">
			<!-- <span>University of</br>Washington</span> -->
			<span>
				<ul class="list-of-orgs">
					<li><a href="http://dub.washington.edu/" target="_blank"> DUB Center</a></li>
				</ul>
			</span>
			<a id="go-to-school" href="http://http://dub.washington.edu/">&rarr;</a>
		</div>
		<%= image_tag("UW.jpg", alt: "UW") %>
	</div>
</div>






<div class="center hero-unit" id="about-icon">
	<p id="about">Brought to you by</p>
	<div class="ch-item">				
		<div class="ch-info">
			<div class="ch-info-front ch-img-1"></div>
			<div class="ch-info-back">
				<h3><a href="http://www.ics.uci.edu/~dhegab" target="_blank">Dahlia Hegab</a></h3>
			</div>	
		</div>
	</div>
</div>
