<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>

</head>
<body>
	<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "FancyMeHCI", '#', id: "logo" %>
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Home", root_path %></li>
						<li><%= link_to "HCI Programs", '#' %></li>
						<li><%= link_to "About", '#' %></li>
					<ul>
				</nav>
			</div>
		</div>
	</header>
	<div class="container">
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
	<script type="text/javascript">	
		
		Modernizr.load({
			test: Modernizr.csstransforms3d && Modernizr.csstransitions,
			yep : ['http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js','js/jquery.hoverfold.js'],
			nope: 'css/fallback.css',
			callback : function( url, result, key ) {
					
				if( url === 'js/jquery.hoverfold.js' ) {
					$( '#grid' ).hoverfold();
				}

			}
		});
			
	</script>
</body>
</html>
